@import './reboot.css';

:root {
  --noop-primary-color: #0091ff;
  --noop-bg-color: #f4f3ef;
  --noop-dark-color: #212120;
}

body {
  background-color: var(--noop-dark-color);
}

#app {
  background-color: var(--noop-bg-color);
  min-height: 100dvh;
  min-height: 100vh;
}

.todo-header, .todo-list{
  padding: 1rem;
  margin: auto;
}

.todo-list {
  max-width: 640px;
}

.todo-header {
  background-color: var(--noop-dark-color);
}

.todo-header h1 {
  max-width: 1280px;
  margin: 0 auto;
  color: var(--bs-white);
  font-weight: 200;
  letter-spacing: 0.0125em;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 1rem;
  row-gap: 0.5rem;
}

.todo-header h1 a {
  float: left;
}

.todo-header h1 a img {
  height: 1.2em;
  width: 1.2em;
}

.todo-header h1 span {
  flex-grow: 1;
}

.todo-header h1 button {
  font-size: 1rem;
  color: #fff;
  border-radius: 0.25rem;
  padding: 0.25rem 0.5rem;
  margin-left: auto;
  background-color: var(--noop-primary-color);
  border: var(--noop-primary-color) solid;
}

.todo-list .todo-item {
  background-color: #fff;
  padding: 1rem;
  border: var(--bs-gray-400) solid 1px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.todo-list .todo-item .todo-description  {
  position: relative;
}

.todo-list .todo-description button {
  padding: 0;
  background-color: transparent;
  border-radius: 50%;
  display: flex;
  height: 1.5rem;
  width: 1.5rem;
  justify-content: center;
  align-items: center;
  line-height: 1;
}

.todo-list .todo-description .todo-complete {
  margin-right: 0.75rem;
  float: left;
  color: transparent;
  border: var(--bs-gray-400) solid 1px;
}

.todo-list .todo-description .todo-complete.completed {
  color: var(--bs-success);
}

.todo-list .todo-description .todo-complete:hover,
.todo-list .todo-description .todo-complete:focus {
  box-shadow: 0 0 0 0.25rem #19875440;
}

.todo-list .todo-description .todo-delete {
  font-size: 1.25rem;
  margin-left: 0.75rem;
  float: right;
  color: var(--bs-gray-400);
  border: transparent solid 1px;
}

.todo-list .todo-description .todo-delete:hover,
.todo-list .todo-description .todo-delete:focus {
  color: var(--bs-danger);
  border: var(--bs-gray-400) solid 1px;
  box-shadow: 0 0 0 0.25rem #dc354540;
}

.todo-list .todo-item .todo-description div.completed {
  text-decoration: line-through;
}

.todo-list .todo-item .todo-description div .display-none {
  display: none;
}

.edit-description {
  margin: -0.25rem 0;
  width: calc(100% - 4.5rem);
  position: absolute;
}

.todo-list .todo-item .image-preview-button {
  cursor: zoom-in;
}

.todo-list .todo-item:first-child {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.todo-list .todo-item:last-child {
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.todo-list .todo-item:not(:last-child) {
  border-bottom: none;
}

.todo-modal {
  position: fixed;
  padding: 1rem;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgb(0 0 0 / 50%);
  display: flex;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.enlarged-image {
  border: var(--bs-gray-400) solid;
  border-radius: 0.25rem;
  position: relative;
  max-height: calc(100vh - 2rem);
  max-width: calc(100vw - 2rem);
}

.enlarged-image img {
  max-height: 100%;
  max-width: 100%;
  border-radius: 0.125rem;
  object-fit: contain;
}

.todo-form {
  padding: 1rem;
  background-color: #fff;
  border: var(--bs-gray-400) solid 1px;
  border-radius: 0.25rem;
  margin: auto;
  width: min(480px, calc(100vw - 2rem));
  max-height: calc(100vh - 2rem);
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.todo-form .divider {
  margin: 0 -1rem;
  flex-shrink: 0;
}

.todo-form-header {
  margin: 0;
}

.todo-close {
  float: right;
  font-size: 1.25rem;
  color: var(--bs-secondary);
  display: flex;
  align-items: center;
  padding: 0 0.5rem;
  margin-top: -0.5rem;
  margin-right: -0.5rem;
  cursor: pointer;
  border: none;
  background: none;
  user-select: none;
}

.todo-form-row {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

#form-description,
#form-file,
#form-submit,
#form-file::file-selector-button,
.edit-description {
  font-size: 0.875rem;
}

.todo-form label {
  font-size: 0.75rem;
  color: var(--bs-dark);
}

.todo-form .form-error {
  color: var(--bs-danger);
}

input.form-input[type="text"] {
  border: var(--bs-gray-400) solid;
  border-radius: 0.25rem;
  padding: 0.25rem 0.5rem;
}

input.form-input:focus,
input.form-input:focus-visible,
button:focus,
a.form-link:focus {
  outline: 0;
  box-shadow: 0 0 0 0.25rem #0091ff40;
  border-radius: 0.25rem;
}

input.form-input {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

input.form-input::placeholder {
  font-style: italic;
}

#form-file {
  color: transparent;
  user-select: none;
}

#form-file::file-selector-button {
  margin-right: 0.5rem;
}

.image-preview-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.image-preview-item {
  border: var(--bs-gray-400) solid;
  border-radius: 0.25rem;
  min-width: 4.5rem;
  height: 6rem;
  flex-grow: 1;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image-preview-item img {
  max-height: 100%;
  min-width: 100%;
  flex: 1;
  border-radius: 0.125rem;
  object-fit: cover;
}

.image-preview-button {
  opacity: 0;
  background-color: rgb(0 0 0 / 50%);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  padding: 0;
  border-radius: 0.125rem;
}

.image-preview-button:hover,
.image-preview-button:focus {
  opacity: 1;
  cursor: pointer;
}

.image-preview-button span {
  color: var(--bs-danger);
  font-size: 3rem;
  user-select: none;
}

#form-file::file-selector-button {
  background-color: var(--bs-secondary);
  border: var(--bs-secondary) solid;
}

#form-submit {
  background-color: var(--noop-primary-color);
  border: var(--noop-primary-color) solid;
}

#form-file::file-selector-button,
#form-submit  {
  color: #fff;
  border-radius: 0.25rem;
  padding: 0.25rem 0.5rem;
}

#form-submit {
  margin-left: auto;
}

input.form-input[type="file"] {
  font-size: 1rem;
}

input.form-input::file-selector-button {
  font-size: 1rem;
}

button.form-button {
  user-select: none;
}

input.form-input::file-selector-button:hover,
input.form-input::file-selector-button:focus,
input.form-input[type="file"]:focus-visible,
button.form-button:hover,
button.form-button:focus,
a.form-link:hover,
a.form-link:focus {
  filter: brightness(90%);
  cursor: pointer;
}
